* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	outline: none;
	
}

.bloc {
	box-shadow: 0px 22px 40px -8px #d6d6d6;
	border-radius: 8px;
	max-width: 750px;
	margin: 50px auto 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

.bloc .success-logo {
	text-align: center;
}

.bloc .success-logo img {
	max-width: 50px;
}

.bloc h1 {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	color: rgb(#11518d);
}

.bloc p {
	color: rgba(216, 216, 216, 0.986);
	text-align: justify;
}

.bloc .center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.bloc .return {
	text-align: center;
	background: #0070ba;
	text-transform: uppercase;
	color: white;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: 600;
	display: inline-block;
	margin-top: 30px;
}
